<% include ../partials/header %>
<% include ../partials/menu %>
	<div class="container">
		<br>
		<div class="jumbotron">
		  <h1 class="display-4">Fall 2018 Stats</h1>
		  <p class="lead">Detailed information on how the Buffs are doing in the 2018 Football Season!</p>
		</div>
		
		<table class="table table-bordered" id="stats_table">
			<tr>
				<th class="align-bottom" rowspan="2">Game Date</th>
				<th class="align-bottom"rowspan="2">Opposing Team Name</th>
				<th class="text-center" colspan="2">Score</th>
				<th class="align-bottom" rowspan="2">Winner</th>
			</tr>
			<tr>
				<th>Home Score</th>
				<th>Opp. Score</th>
			</tr>
			<% for(var i=0; i < gamesList.length; i++) { %>
				<tr>
					<% var dateObj = new Date(gamesList[i]["game_date"]); %>
					<td><%= dateObj.toLocaleDateString() %></td>
					<td><%= gamesList[i]["visitor_name"] %></td>
					<td><%= gamesList[i]["home_score"] %></td>
					<td><%= gamesList[i]["visitor_score"] %></td>
					<td><%= gamesList[i]["winner"] %></td>
				</tr>
			<% } %>
			
		</table>
		<br>
		<table class="table text-center">
			<tr>
				<th>Wins</th>
				<th>Losses</th>
			</tr>
			<tr>
				<td> <%= gamesWon %></td>
				<td> <%= gamesLost %></td>
			</tr>
		</table>
		
	</div>
<% include ../partials/footer %>
